# Infrastructure Secrets (Example)

# Kafka Configuration
KAFKA_CLUSTER_ID=your_kafka_cluster_id_here

# API Gateway Configuration
APP_SECRET=your_32_character_at_least_secret_here

# Grafana Configuration
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
